# env file
.env

# Logs
logs
*.log

# OS files
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
build/
dist/
web/node_modules/
web/dist/
web/test-results/
web/src/public/
web/src/**/*.bak
/frontend_mockup.png
*.egg-info/
